<%= link_to 'Nouveau menu', new_menu_path if current_user %>

<div class="responsive-margins-sm">
  <% @menus.each do |menu| %>
    <%= link_to menu.name, edit_menu_path(menu) %><br>
  <% end %>
</div>

<%# render partial: @menus %>

<%# javascript_pack_tag "recipe_slider_pack" %>
