<%= render partial: "recipes/tabs" %>

<%= link_to 'Nouveau menu', new_menu_path if current_user %>

<% Listing.includes(:menus).order(:order).each do |listing| %>
  <div><%= link_to translated(listing.name).capitalize, listing, style: "size: 1.3em; color: gray;" %></div>
  <div class="ml-3">
    <% listing.menus.each do |m| %>
      <%= link_to ((m.emoji || '') + ' ' + translated(m.name).capitalize).lstrip, m, style: "color: black;" %><br>
    <% end %>
  </div>
<% end %>
