.git
tmp
!tmp/pids
log
public/assets
public/packs
.bundle

db/*.sqlite3
db/*.sqlite3-*

storage
config/master.key
config/credentials/*.key
config/private/*

node_modules

data
design

*.swp
*.autosave

**.dump
**.dump.*

sync
