<ul class="nav nav-tabs">
  <span class="nav-item navbar-brand"><b>Admin</b></span>
  <%= link_to_active t("hedacuisine.menu.foods"), foods_path, class: "nav-item nav-link" %>
  <%= link_to_active t("hedacuisine.menu.units"), units_path, class: "nav-item nav-link" %>
  <%= link_to_active t("hedacuisine.menu.container_formats"), container_formats_path, class: "nav-item nav-link" %>
</ul>
