<% if current_user_admin? %>
  <%= link_to "New article", new_article_path %>
<% end %>

<h1>Articles récents</h1>
<% @articles.each do |article| %>
  <%= link_to article.name, article %><br>
<% end %>

<% if current_user_admin? %>
  <h2>Private articles</h2>

  <% Article.all_private.each do |article| %>
    <%= link_to article.name, article %><br>
  <% end %>
<% end %>
