<h1>WORK IN PROGRESS</h1>

<% if user_signed_in? %>





<ul>
  <li>Comment manger d'une manière écologique</li>
  <li>Comment manger végétarien?</li>
  <li></li>
  <li></li>
</ul>

<h1>Comment manger d'une manière écologique</h1>

<p>Courte introduction sur le besoin de l'humanité que l'on mange écologiquement.</p>

<p>On pourrait penser que le transport est le facteur le plus important, mais non</p>

<p>Le plus facile à changer est de manger des aliments écologique: Légumineuses, légumes racines, ...</p>

<p>Le plus simple est de cuisiner des recettes véganes, mais ce n'est pas nécessaire. Végane est un point de vue qui peut ou ne peut pas être partagé.</p>

<p>L'important, c'est de DIMINUER la consommation d'aliments polluants (viande rouge surtout) et d'AUGMENTER la quantité d'aliments écologique dans son alimentation</p>

<p>On pourrait penser que le transport est le facteur le plus important, mais non</p>

<h1>Comment manger végétarien</h1>

<p>En tapant «recettes vététariennes» dans un moteur de recherche! C'est ce que je faisais au début, mais ce n'est pas l'idéal. Personnellement, j'essaie d'être végétarien purement pour un point de vue écologique(lien). Mais, c'est difficile de convaincre ma copine qui adore manger de la viande.</p>

<p>Je classerais les recettes véganes, je dirais qu'il existe 8 grandes catégories de nourriture véganes.</p>

<p>1. Celle qu'on connait déjà et que l'on mange déjà. Par exemple, la majorité des petits déjeûners</p></p>
<p>2. Des hamburgers. Ok c'est théoriquement un substitut, mais c'est tellement bon! Et tu peux remplacer la boulette par pas mal n'importe quoi de végane!</p>
<p>3. Des soupes. Soupes, crèmes, potages.</p>
<p>4. Des salades. Salades vertes. Salades de pâtes. Salades de légumineuses.</p>
<p>5. Des désserts.</p>
<p>. Boulangerie.</p>
<p>6. Des recettes réinventées. Des recettes qui se font habituellement avec de la viande, mais on la remplace avec un substitut végétal. Par exemple, un hâchis parmentier fais avec des lentilles.</p>
<p>7. Substitus pures. Par exemple, des saucisses véganes. Ensuite tu les utilises dans n'importe quelle recette qui utilisent des saucisses régulières.</p>

## Recettes écologique
1. Hamburger avec n'importe quelle boulette végé
1. Hotdog avec n'importe quelle boulette végé
1. Pâté chinois végé (hâchis parmentier végé) (prmentier végé)
1. Chili végé
1. Riz avec truc végé plus sauce (tofu poulet au beurre)
1. Pâte avec boulettes de pois chiches ou autres végé
1. Salade
1. Salade de pâte
1. Boulangerie
1. Dessert
1. Pantry recipes
1. Gruau
1. Chickpea recipes, red-kidney beans recipe
1. Soupe aux patates!!!
1. Crèmes (crème de champignon, crème de poireau)
1. Soupes
1. Potages
1. Ragouts
1. Riz sauvage
1. Crêpes
1. Pain de viande végane
1. Pâté style tourtière végé
1. Saucisses véganes
1. Simuler n'importe quelle viande de manière végane

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>












<% end %>
