<div class="row" style="margin-bottom: 10px;">
  <div class="col-m-6">
    <%= link_to recipe_path(recipe) do %>
      <% if recipe.image_id %>
        <%= image_tag "/images/#{recipe.image_id}_s.jpg", style: "margin-right: 20px;" %>
      <% else %>
        <img width="228" height="171" style="margin-right: 20px;"></img>
      <% end %>
    <% end %>
  </div>
  <div class="col-m-6">
    <%= link_to recipe_path(recipe) do %>
      <div class="recipe-listing-title">
        <%= translated(recipe.name) %>
      </div>
    <% end %>
    <div>
      <b>Ingrédients:</b>
      <span style="color: gray;">farine, poudre à pâte, sel, oeuf, miel, beurre</span>
    </div>
    <div>
      <b>Préparation:</b>
      <span style="color: gray;">20 minutes</span>
    </div>
    <div>
      <b>Cuisson:</b>
      <span style="color: gray;">8 minutes</span>
    </div>
    <div>
      <b>Portions:</b>
      <span style="color: gray;">24 madeleines</span>
    </div>

  </div>
</div>
