<div class="responsive-sm-above" style="gap: 20px;">
  <%= render partial: recipe.image, locals: {variant: :medium} if recipe.image %>
  <div style="width: 100%;">
    <h1>
      <span class="recipe-title">
        <%= translated(recipe.name) %>
      </span>
      <% if account_signed_in? %>
        <%= render partial: "recipes/edit_menu", locals: {recipe: recipe, black_icon: true} %>
      <% end %>
    </h1>
    <%= render partial: "recipes/details_medium_version", locals: {recipe: recipe} %>
  </div>
</div>
