<div class="bg-fill" style="width: 100%; height: 0.5rem;"></div>
<div class="d-flex bg-fill ps-3 w-100" style="font-size: 1.2rem; align-items: center; flex-wrap: wrap;">
  <div style="margin-right: 1rem;"><b><%= recipe.name %></b></div>

  <div class="d-flex" style="flex-grow: 1;">
    <%# if alternatives.blank? %>
        <div class="bg-fill-brighter" style="padding: 0.1rem 0.4rem; cursor: unset; font-size: 0.85em;">
          <%= "☆☆☆☆☆ (0)" %>
        </div>
    <%# else %>
      <!--<div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="versionsMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0.1rem 0.4rem; background-color: #333; color: white">
          <%# recipe.pretty_version %>
        </button>
        <div class="dropdown-menu" aria-labelledby="versionsMenuButton">
          <%# alternatives.each do |alternative| %>
            <%# link_to alternative.pretty_version, alternative, class: "dropdown-item" %>
          <%# end %>
        </div>
      </div>-->
    <%# end %>
    <div style="flex-grow: 1;"></div>
    <% if account_signed_in? %>
      <%= render partial: "recipes/edit_menu", locals: {recipe: recipe} %>
    <% end %>
  </div>
</div>
<div class="bg-fill" style="width: 100%; height: 0.5rem;"></div>

<%= render partial: "recipes/details_inline_version", locals: {recipe: recipe} %>
