<%= link_to 'Show', recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

<h1>Editing Recipe</h1>

<%= render partial: 'form', locals: {recipe: @recipe} %>

<%# javascript_pack_tag "recipe_editor.js" %>
