<%= content_for :title, "HedaCuisine - Recettes" %>
<%= content_for :description, "Découvrez nos dernières recettes ou recherchez une recette en particulier." %>

<% @kinds_by_categories.each do |(kind, recipe_kinds)| %>
  <div style="height: 250px;">
    <%= render partial: "recipe_kinds/carrousel", locals: {title: link_to(kind.name, kind, style: "color: black;"), recipe_kinds: recipe_kinds, carrousel_id: kind.id} %>
  </div>
<% end %>

<% content_for :import_js do %>
  <%= js_import_tag "recipe_carrousel" %>
<% end %>
