<%= link_to 'New Recipe', new_recipe_path %>

<div class="responsive-margins-lg">

  <h1>Recettes</h1>
  
  <% @recipes.each do |recipe| %>
    <%= link_to recipe.name, recipe %><br>
  <% end %>
  
  <br>
</div>
