<p id="notice"><%= notice %></p>

<%= link_to 'New Recipe', new_recipe_path %>

<div class="responsive-margins-lg">
  <h1>Recipes</h1>
  
  <% @recipes.each do |recipe| %>
    <%= link_to recipe.name, recipe %>
  <% end %>
  
  <br>
</div>
