<% if current_user_admin? %>
  <%= link_to 'New Recipe', new_recipe_path %>
  <%= link_to 'Nouvelle recette', new_recipe_path %>
<% end %>

<div class="responsive-margins-lg">

  <h1>Recettes</h1>
  
  <% Recipe.where.not(image_id: nil).limit(5).each do |recipe| %>
    <%= render recipe %>
  <% end %>

</div>
