<%= render partial: "recipes/tabs" %>

<%# render partial: "recipes/recipe_carrousel", locals: {title: "Dernières recettes favorites", recipes: current_user.user_recipes.includes(:recipe).where.not(recipe: {image_id: nil}).limit(10).map(&:recipe)} %>

<div style="display: flex; align-items: center; gap: 1.5rem;">
  <h2>Mes recettes</h2>
  <%= link_to translated("Nouvelle recette"), new_recipe_path, class: "btn btn-outline-primary btn-sm" %>
</div>
<hr style="margin-top: 0;">

<ul>
  <% if current_user.recipes.blank? %>
    <p>Aucune recette pour l'instant.</p>
  <% else %>
    <% current_user.recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe %></li>
    <% end %>
  <% end %>
</ul>

<%# javascript_pack_tag "recipe_slider_pack_v2" %>
