<div style="height: 0.5em;"></div>

<div style="display: flex; align-items: center; gap: 1.5rem;">
  <h2>Mes recettes</h2>
  <%= link_to translated("Nouvelle recette"), new_recipe_path, class: "btn btn-outline-primary btn-sm" %>
  <%= link_to translated("Quoi manger?"), what_to_eat_path, class: "btn btn-outline-secondary btn-sm" %>
</div>
<hr style="margin-top: 0;">

<% if current_user.recipes.blank? %>
  <p>Aucune recette pour l'instant.</p>
<% else %>
  <div id="root"></div>
  <% content_for :import_js do %>
    <%= js_import_tag "recipes_index" %>
  <% end %>
<% end %>
