<%= link_to 'Show', recipe_path(@recipe) %> |
<%= link_to 'Edit', edit_recipe_path(@recipe) %>

<h2>Avertissements</h2>

<% if @warnings.blank? %>
  <p>Auncun avertissements.</p>
<% else %>
  <ul>
    <% @warnings.each do |warning| %>
      <li><%= warning %></li>
    <% end %>
  </ul>
<% end %>

<h2>Preview</h2>

<hr>
<%= render partial: "recipes/recipe_full" %>
<hr>

<h2>Actions</h2>

<p>TODO: Button to make public.</p>
