<style>
#choose-btns > * {
  margin-top: 0.5em;
  margin-left: 25%;
  margin-right: 25%;
}
</style>

<div id="what-to-eat"></div>

<% content_for :import_js do %>
  <%= js_import_tag "what_to_eat" %>
<% end %>
