<div class="responsive-margins-lg">
  <h1><%= t("heda.my_account")%></h1>
  
  <h2>Liens</h2>
  <%= link_to "Modifier ou supprimer mon compte", edit_user_registration_path, class: "nav-item nav-link" %>
</div>
