<br>

<h2>Site en construction</h2>

<p>Seulement les personnes invités peuvent s'inscrire et se connecter à leur propre compte. Veuillez revenir bientôt.</p>

<%= link_to "Accéder au site bêta", "https://aqueous-fortress-30634.herokuapp.com#{URI.decode(params[:path])}", class: "btn btn-outline-primary" %>
