<h2>Favoriser l'alimentation écologique</h2>
<p>
  Contrairement aux croyances populaires, ce qu'on mange a un plus grand impact écologique que sa provencance. Par exemple, une alimentation végétarienne est beaucoup plus écologique qu'une alimentation carnivore. 23% des terres agricoles qui ne sont pas pour les animaux produisent 82% des calories et 63% des protéines.

s humains ont tendance a faire ce qui est le plus facile. Il faut que cuisiner végétarien sois plus facile que de cuisiner de la viande. On ne peut pas changer facilement les habitudes alimentaires des gens. Mais avec Heda, ca se fait tout seul. La spécialité d'Heda est la cuisine de recettes écologique. Un soir de semaine que tu rentres tard du boulot, fatigué, tu as le choix entre cuisiner de la viande ou manger un repas végétarien sans cuisiner, qu'est-ce que tu choisis?
</p>

<h2>Diminue gaspillage alimentaire</h2>
<ul>
  <li>cuisinant des petites portions tous les jours au lieu de grandes portions qu'on peut gaspiller</li>
  <li>suggérant des recettes avec les aliments pres d'etre périmés qui doivent etre cuisinés</li>
  <li>favorisant l'utilisation d'aliments du garde-manger qui se conserve beaucoup plus facilement</li>
</ul>
