<div class="responsive-margins-lg">

  <div style="border: 2px solid black; border-radius: 5px; color:red;" class="my-4 p-2">
    ⚠️ Le site est en construction. Certaines fonctionalités ne sont pas encore disponibles.
  </div>
  

  <h1>Bienvenue sur le site de Heda!</h1>
  <p>Trouver des recettes en recherchant par mots clés dans la barre de recherche en haut!</p>
  <p>Ou bien découvrer des recettes à travers le menu recette en haut à gauche!</p>

  <!--<p>Vous pouvez aussi vous <%# link_to "connecter", new_user_session_path %> ou vous <%# link_to "inscrire", new_user_session_path %> pour gérer vos propres listes de recettes!</p>
-->
</div>
