<div class="responsive-margins-lg">

  <h1>Heda</h1>

  <!--
  <h2>Première fois sur le site?</h2>

  <p>Trouver des recettes en recherchant par mots clés dans la barre de recherche en haut!</p>
  <p>Ou bien découvrer des recettes à travers le menu recette en haut à gauche!</p>
  <p>TODO: Lien en apprendre d'avantages...</p>
  -->

  <h2>Dernières recettes ajoutées</h2>

  <p>TODO: Recipe slider</p>

  <h2>À propos de Heda</h2>

  <div class="row">
    <div class="col-sm-6" style="background-color:yellow;">
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-6" style="background-color:pink;">
      <p>Sed ut perspiciatis...</p>
    </div>
  </div>

  <!--<p>Vous pouvez aussi vous <%# link_to "connecter", new_user_session_path %> ou vous <%# link_to "inscrire", new_user_session_path %> pour gérer vos propres listes de recettes!</p>
-->
</div>
