<% unless current_user_admin? %>

  <div style="border: 2px solid black; border-radius: 5px; color:red;" class="my-4 p-2">
    ⚠️ Le site est en construction. Certaines fonctionalités ne sont pas encore disponibles.
  </div>

<% else %>

  <style>
    .home-section {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
  </style>
  
  <div class="responsive-margins-lg">
  
    <!--
    <h2>Première fois sur le site?</h2>
  
    <p>Trouver des recettes en recherchant par mots clés dans la barre de recherche en haut!</p>
    <p>Ou bien découvrer des recettes à travers le menu recette en haut à gauche!</p>
    <p>TODO: Lien en apprendre d'avantages...</p>
    -->

    <div style="margin: auto; filter: blur(2px); height: 613px; width: 920px; background-image: url('<%= asset_path("tmp/pantry_placeholder.webp") %>')"></div>
    <div style="translate: 0px -400px; z-index: 2; text-shadow: 4px 4px 8px black, 2px 2px 4px black, 1px 1px 2px black; font-weight: bold;">
      <h1 style="text-align: center; font-size: 3rem; color: #f0f0f0;">Heda</h1>
      <div style="margin-top: -0.8rem; font-size: 2rem; text-align: center; color: #f0f0f0;">
        Un robot garde-manger
      </div>
    </div>

    <div class="home-section row">
      <div class="col-sm-8">
        <h2>Open source</h2>
      </div>
      <div class="col-sm-4" style="background-color:pink;">
        <p>Image</p>
      </div>
    </div>
  
    <div class="home-section row">
      <div class="col-sm-4" style="background-color:pink;">
        <p>Image</p>
      </div>
      <div class="col-sm-8">
        <h2>Template</h2>
      </div>
    </div>

    <div class="home-section row">
      <div class="col-sm-8">
        <h2>Cuisiner des produits de bases</h2>
        <p>Heda simplifie la cuisine d'ingrédients de base. Au lieu d'acheter des aliments transformés avec des ingrédients que vous ne savez pas prononcé, c'est tellement simple de les faire maisons à la place. Par exemple, faire de la mayonnaise prends 30 secondes. Et c'est bien meilleur!</p>
      </div>
      <div class="col-sm-4" style="background-color:pink;">
        <p>Image</p>
      </div>
    </div>
  
    <div class="home-section row">
      <div class="col-sm-4" style="background-color:pink;">
        <p>Image</p>
      </div>
      <div class="col-sm-8">
        <h2>Pro zéro-déchet</h2>
        <ul>
          <li>Cuisiner des aliments du garde-manger, c'est cuisiner des aliments qui peuvent s'acheter en vrac</li>
        </ul>
      </div>
    </div>

    <div class="home-section row">
      <div class="col-sm-8">
        <h2>Diminue gaspillage alimentaire</h2>
        <ul>
          <li>cuisinant des petites portions tous les jours au lieu de grandes portions qu'on peut gaspiller</li>
          <li>suggérant des recettes avec les aliments pres d'etre périmés qui doivent etre cuisinés</li>
          <li>favorisant l'utilisation d'aliments du garde-manger qui se conserve beaucoup plus facilement</li>
        </ul>
      </div>
      <div class="col-sm-4" style="background-color:pink;">
        <p>Image</p>
      </div>
    </div>
  
    <div class="home-section row">
      <div class="col-sm-4" style="background-color:pink;">
        <p>Image</p>
      </div>
      <div class="col-sm-8">
        <h2>Économisez de l'argent</h2>
        <p>
          En plus d'etre écologique, cuisiner des aliments primaires représente un autre avantage énorme: c'est économique! Un Canadien moyen pourrait économiser **1434$** par année **(1)**, principalement, parce que le prix des aliments transformés est souvent grandement supérieur aux aliments de base.
        </p>
        <ul>
          <li>Cuisiner des aliments du garde-manger, c'est cuisiner des aliments qui peuvent s'acheter en vrac</li>
        </ul>
      </div>
    </div>
  
    <div class="home-section row">
      <div class="col-sm-8">
        <h2>Inventaire automatique</h2>
        <ul>
          <li>Avertit lorsqu'un aliment est pres d'etre périmé et suggere des recettes pour l'utiliser.</li>
          <li>Genere une liste d'épicerie automatiquement selon les habitudes et l'inventaire.</li>
          <li>Suggere de recettes avec des ingrédients que vous avez sous la main.</li>
        </ul>
      </div>
      <div class="col-sm-4" style="background-color:pink;">
        <p>Image de l'application inventaire automatique</p>
      </div>
    </div>
  
    <div class="home-section row">
      <div class="col-sm-4" style="background-color:pink;">
        <p>Image</p>
      </div>
      <div class="col-sm-8">
        <h2>Favoriser l'alimentation écologique</h2>
        <p>
          Contrairement aux croyances populaires, ce qu'on mange a un plus grand impact écologique que sa provencance. Par exemple, une alimentation végétarienne est beaucoup plus écologique qu'une alimentation carnivore. 23% des terres agricoles qui ne sont pas pour les animaux produisent 82% des calories et 63% des protéines.

Les etres humains ont tendance a faire ce qui est le plus facile. Il faut que cuisiner végétarien sois plus facile que de cuisiner de la viande. On ne peut pas changer facilement les habitudes alimentaires des gens. Mais avec Heda, ca se fait tout seul. La spécialité d'Heda est la cuisine de recettes écologique. Un soir de semaine que tu rentres tard du boulot, fatigué, tu as le choix entre cuisiner de la viande ou manger un repas végétarien sans cuisiner, qu'est-ce que tu choisis?
        </p>
      </div>
    </div>

    <div class="home-section">
      <h2>Une bibliothèque de recettes gratuites</h2>
      
      <%= render file: "/recipes/_recipe_carrousel", locals: {title: "Dernières recettes ajoutées", recipes: Recipe.where.not(image_id: nil)} %>
    </div>
  
    <div class="home-section row">
      <div class="col-sm-8">
        <h2>Sauver du temps</h2>
        <ul>
          <li>Les gens passents en moyenne combien de temps à cuisiner dans leur vie?</li>
          <li>Estimer combien de temps ça sauve avec cette machine</li>
        </ul>
      </div>
      <div class="col-sm-4" style="background-color:pink;">
        <p>Image</p>
      </div>
    </div>
  
    <div class="home-section row">
      <div class="col-sm-4" style="background-color:pink;">
        <p>Image</p>
      </div>
      <div class="col-sm-8">
        <h2>Inventaire automatique</h2>
        <ul>
          <li>Avertit lorsqu'un aliment est pres d'etre périmé et suggere des recettes pour l'utiliser.</li>
          <li>Genere une liste d'épicerie automatiquement selon les habitudes et l'inventaire.</li>
          <li>Suggere de recettes avec des ingrédients que vous avez sous la main.</li>
        </ul>
      </div>
    </div>
  
    <!--<p>Vous pouvez aussi vous <%# link_to "connecter", new_user_session_path %> ou vous <%# link_to "inscrire", new_user_session_path %> pour gérer vos propres listes de recettes!</p>
  -->
  </div>

  <%= javascript_pack_tag "recipe_slider_pack" %>

<% end %>
