<%# render partial: "books/edit_tabs", locals: {book: @book} %>
<%= link_to "Afficher", @book %>

<div id="root"></div>

<% content_for :import_js do %>
  <%= js_import_tag "book_editor" %>
<% end %>
