<%= link_to "Show", @book %>

<h1><%= @book.name %></h1>

<h2>0 Recettes</h2>

<p>Proposer de créer une nouvelle recette.</p>

<p>Proposer de rechercher une recette. L'utilisateur choisis une sorte de recette. Ensuite il peut choisir cette recette ou bien changer puis choisir.</p>
