<%= link_to "Nouveau livre", new_book_path %> |
<%= link_to "Trouver un livre", new_book_path %>

<h1>Livres</h1>

<%= render partial: "books/carrousel", locals: {key: 'book-1', list: @books} %>

<% content_for :head_js do %>
  <%= js_import_tag "book_carrousel" %>
<% end %>
