<%= link_to "Nouveau livre", new_book_path %> |
<%= link_to "Trouver un livre", new_book_path %>

<h1>Livres</h1>

<div style="display: flex; gap: 20px; flex-wrap: wrap;">
  <% @books.each do |book| %>
    <%= link_to book do %>
      <%= render partial: "books/title_page", locals: {book: book, max_axis: :height} %>
    <% end %>
  <% end %>
</div>
