<div style="height: 0.5em;"></div>

<div style="display: flex; align-items: center; gap: 1.5rem;">
  <h2>Mes livres</h2>
  <%= link_to translated("Nouveau livre"), new_book_path, class: "btn btn-outline-primary btn-sm" %>
</div>
<hr style="margin-top: 0;">

<% @books.map(&:theme).uniq.compact.each do |theme| %>
  <%= render partial: 'themes/stylesheet', locals: {theme: theme} %>
<% end %>

<div style="display: flex; gap: 20px;">
  <% @books.each do |book| %>
    <div>
      <%= link_to book do %>
        <%# render partial: "books/details", locals: {book: book} %>
        <%= render partial: "books/title_page_thumbnail", locals: {book: book} %>
      <% end %>
    </div>
  <% end %>
</div>

<h2>Livres favoris</h2>
<h2>Suggestions de livres pour vous</h2>
