<div style="height: 0.5em;"></div>

<div style="display: flex; align-items: center; gap: 1.5rem;">
  <h2>Mes livres</h2>
  <%= link_to translated("Nouveau livre"), new_book_path, class: "btn btn-outline-primary btn-sm" %>
</div>
<hr style="margin-top: 0;">

<div style="display: flex; gap: 20px; flex-wrap: wrap;">
  <% @books.each do |book| %>
    <div>
      <%= link_to book do %>
        <%# render partial: "books/details", locals: {book: book} %>
        <%= render partial: "books/title_page", locals: {book: book, max_axis: :height} %>
      <% end %>
    </div>
  <% end %>
</div>

<div style="height: 2em;"></div>

<h2>Livres favoris</h2>
<hr style="margin-top: 0;">

<p>Aucun livre favori pour l'instant.</p>
