<%= render partial: 'themes/stylesheet', locals: {theme: @book.theme} %>

<div style="display: flex;">
  <div class="book-sidebar">
    <%= render partial: "books/sidebar", locals: {book: @book} %>
  </div>
  <div class="book <%= @book.theme.css_class %>">
    <%= render partial: "books/title_page", locals: {book: @book} %>
  </div>
</div>
