<div style="display: flex;">
  <div>
    <%= render partial: "books/sidebar", locals: {book: @book} %>
  </div>
  <div>
    <% @book.items.each do |item| %>
      <% if item.is_a?(BookRecipe) && (item.recipe.is_public || @book.user_id == current_user_id) %>
        <%= render partial: "recipes/recipe", locals: {recipe: item.recipe, book: @book, book_recipe: item} %>
      <% elsif item.is_a? BookSection %>
        <h2><%= item.name %></h2>
      <% end %>
    <% end %>
  </div>
</div>

<style>
@media screen and (max-width: 576px) {
  .recipe-details-small {
    max-width: 300px;
  }
}
</style>

