<div style="display: flex;">
  <div>
    <%= render partial: "books/sidebar", locals: {book: @book} %>
  </div>
  <div>
    <% @book.book_recipes.each do |book_recipe| %>
      <% @book.book_sections.select {|s| s.before_recipe_at == book_recipe.position}.each do |section| %>
        <h2><%= section.name %></h2>
      <% end %>
      <% if book_recipe.recipe.is_public || @book.user_id == current_user_id %>
        <%= render partial: "recipes/recipe", locals: {recipe: book_recipe.recipe, book: @book, book_recipe: book_recipe} %>
      <% end %>
    <% end %>
  </div>
</div>

<style>
@media screen and (max-width: 576px) {
  .recipe-details-small {
    max-width: 300px;
  }
}
</style>

