<%= render partial: "machines/tabs" %>

<p id="notice"><%= notice %></p>

<%= render partial: "calendar", locals: {machine: @machine, meals: @meals} %>

<!--<div style="position: relative; width: 100%; height: 100%;">
  <%# date.day %>
  <%# meals.each do |meal| %>
    <div>
      <%# meal.start_time.strftime("%k:%M") %>: <%# link_to meal.recipe.name, recipe_path(meal.recipe) %> <%# link_to 'x', [@machine, meal], method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <%# end %>
  <div style="position: absolute; right: 0; bottom: 0;">
    <%# link_to '+', new_machine_meal_path(machine_id: @machine.id, day: date.day, month: date.month, year: date.year) %>
  </div>
</div>

  <div class="calendar-day" data-year="<%# date.year %>" data-month="<%# date.month %>" data-day="<%# date.day %>" data-path="<%# daily_meals_path()%>">

-->
