<div class="responsive-margins-lg">

  <%= link_to 'edit', edit_food_path(@food) if current_user_admin?  %>

  <h1><%= @food.name.capitalize %></h1>

  <h2>Voir les recettes qui l'utilise</h2>

  <p>TODO: Un slider avec les recettes de cet ingrédient.</p>
  <p>TODO. Aucune recette pour l'instant.</p>
  
  <hr>

  <%= article_for @food.name %>

</div>
