/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require easy-autocomplete
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "toastr/toastr";
@import "tiny-slider/src/tiny-slider";

@import "blue_theme";
@import "articles";
@import "star-rating-svg";

/* ----- Bootstrap modifications ----- */
.row {
  margin-right: 0px;
  margin-left: 0px;
}
/* ----- End bootstrap modifications ----- */

h1 {
  color: #353535
}

.search-container {
  border-radius: 5px;
  border: 1px solid white;
}

.search-button {
  border: none;
  display: inline-block;
  background-color: transparent;
  background-image: url('search.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 5px 0px;
  height: 20px;
  width: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-left: 1px solid white;
}

#top-search {
  background-color: #4b8cb7 ;
  border: none;
  color: white;
  box-shadow: none;
  padding-bottom: 0px;
}

.bg-dark {
  background-color: #4b8cb7 !important;
}

.navbar {
  padding: 0.1rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f0f0f0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.h2.toggle-link:hover {
  cursor: pointer;
  background-color: #6097f3;
}

.easy-autocomplete {
  display: inline-block;
}
body {
  padding-bottom: 30px;
  margin-top: 10px;
/*  margin: 10px 30px 0px 30px;*/
}

/*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*font-family: 'Raleway', sans-serif;*/

.recipe-listing-title {
  font-family: "Satisfy", cursive;
  font-weight: bold;
  font-size: 2.2rem;
  color: #353535;
}

.recipe-title {
  font-family: "Satisfy", cursive;
  font-weight: bold;
  font-size: 3.0rem;
  margin-top: 0.5rem;
}

.recipe-ingredient-list {
  /*font-family: "Caveat";*/
  font-family: "Satisfy", cursive;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 1rem;
  margin-bottom: 0rem;
}

.recipe-instructions, #ing_list {
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Dancing Script', cursive;*/
  /*font-family: "Caveat";*/
  font-size: 0.8rem;
  /*border: 1px solid black;*/
  /*display: inline-block;*/
  /*padding-right: 20em;*/
}

.inline {
  display: inline;
}

.inline-block {
  display: inline;
}

.responsive-margins-lg, .responsive-margins-sm {
  margin: auto;
  width: 75.75%;
}

.responsive-margins-50-lg, .responsive-margins-50-sm {
  margin: auto;
  width: 50%;
}

.responsive-side-sm {
  display: inline-block;
}

.slider-button {
  position: fixed;
  top: 50%;
  z-index: 2;
  font-size: 3rem;
  cursor: pointer;
  /*background-color: white;*/
}

#add_comment_form {
  border: 1px solid black;
  position: absolute;
  background-color: white;
}
.add_recipe_comment {
  cursor: pointer;
}
.show_item_source > a, .show_item_source {
  color: #777777;
}
.show_item_source {
  color: #777777;
  font-size: 0.8em;
}

.my-tns-control {
  font-size: 1.11rem;
  cursor: pointer;
}

// xs: phones, sm: tablets, md: small laptop, lg: laptops and desktops
// Bootstrap: xs: 768 ou moins, sm: 768 à 992, md: 992 à 1200, lg: 1200 et plus

//@media screen and (min-width: 1200px)

@media screen and (max-width: 1200px) {
  .responsive-margins-lg, .responsive-margins-50-lg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  body {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .responsive-margins-sm, .responsive-margins-50-sm {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
//  .responsive-side-sm {
//    display: block;
//  }

}
