/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require articles.css
 *= require star-rating-svg
 *= require easy-autocomplete
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "toastr/toastr";
@import "tiny-slider/src/tiny-slider";

.h2 {
  background-color: #4b8cb7 ;
  color: #f0f0f0;
  padding-left: 1rem;
  font-size: 1.4rem;
}

.bg-dark {
  background-color: #4b8cb7 !important;
}

.navbar {
  padding: 0.1rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f0f0f0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.h2.toggle-link:hover {
  cursor: pointer;
  background-color: #6097f3;
}

.easy-autocomplete {
  display: inline-block;
}
body {
  padding-bottom: 30px;
  margin: 10px 30px 0px 30px;
}

.recipe-instructions {
  font-family: "Caveat";
  font-size: 1.4rem;
  /*border: 1px solid black;*/
  /*display: inline-block;*/
  /*padding-right: 20em;*/
}

/* Wrapper for the sidebar and the main content */
.wrapper {
  display: flex;
}

#sidebar {
  width: 14em;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline;
}

.responsive-margins-lg, .responsive-margins-sm {
  margin: auto;
  width: 70%;
}

.responsive-margins-50-lg, .responsive-margins-50-sm {
  margin: auto;
  width: 50%;
}

.responsive-side-sm {
  display: inline-block;
}

.slider-button {
  position: fixed;
  top: 50%;
  z-index: 2;
  font-size: 3rem;
  cursor: pointer;
  /*background-color: white;*/
}

#add_comment_form {
  border: 1px solid black;
  position: absolute;
  background-color: white;
}
.add_recipe_comment {
  cursor: pointer;
}
.show_item_source > a, .show_item_source {
  color: #777777;
}
.show_item_source {
  color: #777777;
  font-size: 0.8em;
}

.my-tns-control {
  font-size: 1.11rem;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {

  .active {
    background-color: orange;
    margin-top: -0.5rem;
    padding-top: 1rem;
    margin-bottom: -0.5rem;
    /*transform: translate(0.0, 0.5rem);*/
  }

}

// xs: phones, sm: tablets, md: small laptop, lg: laptops and desktops
// Bootstrap: xs: 768 ou moins, sm: 768 à 992, md: 992 à 1200, lg: 1200 et plus

@media screen and (max-width: 1200px) {
  .responsive-margins-lg, .responsive-margins-50-lg {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media screen and (max-width: 768px) {
  .responsive-margins-sm, .responsive-margins-50-sm {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
//  .responsive-side-sm {
//    display: block;
//  }

}
