/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "toastr/toastr";

body {
  margin-top: 10px;
}

table .zebra tr:nth-child(even) {background: #DDD}
table .zebra tr:nth-child(odd) {background: #FFF}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  /*overflow: hidden;*/
}
.mynav {
  display: flex;
  background-color: #333;
  overflow: hidden;
  border-top: 1px solid white;
}
/* Style the links inside the navigation bar */
.mynav a, .mynavtitle {
  color: #f2f2f2;
  /*text-align: center;*/
  padding: 10px 16px;
  text-decoration: none;
  font-size: 15px;
}

#autocomplete-search-all {
  margin-top: 6px;
}

.mynavtitle {
  border-right: 1px solid white;
}

.topnavlink:visited {
  color: white;
}

/* Style the links inside the navigation bar */
.topnavlink {
  float: left;
  /*color: #f2f2f2;*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnavlink:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnavlink.active {
  background-color: rgb(252, 140, 3);
  color: white;
}

.inline_label {
  display: inline;
}

.items {
  display: flex;
}

.item {
  /*margin-left: 5px;
  margin-right: 5px; Weirdly enough this causes a bug for tiny-slider...*/
  padding-left: 5px;
  padding-right: 5px;
}

.item_without_picture {
  padding-top: 80px;
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 128px;
  border: 1px solid black;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.tagname {
  font-size: 1.5em;
  font-weight: bold;
}

.my-tns-control {
  font-size: 1.11rem;
  cursor: pointer;
}

.text_document {
  /* TODO: Min width of text_document, no margins if too small */
  margin-left: 25%;
  margin-right: 25%;
}

.recipe_header {
  height: 320px;
}

.recipe_header_image {
  float: left;
  margin-right: 20px;
}

.inline {
  display: inline;
}

.not-link, .not-link:visited {
  text-decoration: none;
  color: black;
  background-color: white;
}

.not-link:hover {
  background-color: rgb(222,222,222);
}

.image_radio_button {
  display: inline;
}

.recipe_image {
  width: 300px;
  height: 210px;
}

.secondary_image_left {
  border: 3px black solid;
  background-color: white;
  height: 70px;
  width: 97px;
  transform: translate(0px,-90px);
}

.secondary_image_middle {
  border: 3px black solid;
  background-color: white;
  height: 70px;
  width: 97px;
  transform: translate(100px,-165.5px);
}

.secondary_image_right {
  border: 3px black solid;
  background-color: white;
  height: 70px;
  width: 97px;
  transform: translate(200px,-241.5px);
}

#show_item {
  margin-left: 2%;
}

.show_item_source {
  padding-left: 40px;
}

.show_item_name {
  font-size: 1.4em;
}

#preview_recipe {
  padding-top: 2em;
  float: right;
}

#show_item_image {
  padding-top: 2em;
}

#preview_recipe_name {
  text-align: center;
  font-size: 1.75em;
}

#show_item_title {
  padding-top: 0.25em;
  font-size: 3rem;
  text-align: center;
}


.heda_status_ok, .heda_status_fatal, .heda_status_waiting {
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.heda_status_ok {
  background-color: rgb(200, 255, 200);
  border: solid 3px green;
}
.heda_status_fatal {
  background-color: rgb(255, 100, 100);
  border: solid 3px red;
}
.heda_status_waiting {
  background-color: rgb(255, 198, 66);
  border: solid 3px rgb(255, 160, 0);
}
a.button_style, a:link.button_style, a:visited.button_style, a:hover.button_style, a:active.button_style {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.drawing_shelf {
  border: 3px solid black;
  margin-bottom: 10px;
}


.ingredient_qty_bar {
  width: 100px;
  background-color: gray;
  border: 1px solid black;
  height: 20px;
}
.ingredient_qty_bar_full {
  height: 100%;
  background-color: green;
}
