.autocomplete-suggestion {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 1.12em !important;
}
.autocomplete-suggestion > img {
  margin-right: 8px;
  width: 71px;
  height: 48px;
}

#top-search {
  background-color: #212529;
  /*border-radius: 5px;*/
  border-bottom: 1px solid #aaa;
  color: white;
  box-shadow: none;
  padding-bottom: 0px;
  width: 400px;
  transform: translate(calc(50vw - 50%), 14px);
  z-index: 100;
  position: absolute;
}
@media screen and (max-width: 768px) {
  #top-search {
    transform: translate(4rem, 14px);
    width: calc(100% - 60px);
  }
}

#top-search > input {
  background-color: #212529;
  border: none;
  color: white;
  box-shadow: none;
  padding-bottom: 0px;
  width: calc(100% - 30px);
}
