<div class="responsive-sm-above">
  <%= render partial: recipe_kind.image, locals: {variant: :medium} if recipe_kind.image %>
  <div style="width: 100%;">
    <h1>
      <span class="recipe-title"><%= translated(recipe_kind.name) %></span>
    </h1>
    <div style="max-width: 600px">
      <%= my_sanitize(recipe_kind.description_html) %>
    </div>
  </div>
</div>
