<%= render partial: "kinds/breadcrumbs", locals: {leaf: @recipe_kind} %>

<%= render partial: @recipe_kind %>

<div style="max-width: 800px;">
  <h2>0 recettes</h2>
  
  <p>On dirait qu'il n'y a pas encore de recettes danss cette catégorie.</p>
  
  <button class="btn btn-outline-primary">Ajouter une recette</button>

  <div style="height: 2em;"></div>
  <h2>Un partage de recettes</h2>
  
  <p>Toutes les recettes publiées sur ce site sont libre de droit, disponible pour tous. Si vous apprécié voir les recettes des autres, considérer partager vos propres recettes. C'est aussi une manière de pouvoir accéder à vos recettes et de s'assurer de ne pas les perdres et de toujours y avoir accès.</p>
</div>
