<%= render partial: "kinds/breadcrumbs", locals: {leaf: @recipe_kind} %>

<%= render partial: @recipe_kind %>

<% unless @recipe.blank? %>
  <%= render partial: "recipes/recipe_pages", locals: {recipe: @recipe} %>
<% else %>
  <div style="max-width: 800px;">
    <div style="height: 2em;"></div>
    <h2>Aucune recette dans cette catégorie pour l'instant...</h2>
    
    <h3>Un partage de recettes</h3>
    
    <p>Si vous apprécié voir les recettes des autres, considérer partager vos propres recettes. En plus, cela permet de converser vos recettes pour ne jamais les oublier et toujours y avoir accès.</p>
    
    <h3>Votre livre de recette personnelle</h3>
    
    <p>Sur ce site, il est possible de faire votre propre livre de recette électronique. C'est une manière simple de contenir et de partager vos recettes avec vos proches.</p>
  </div>
<% end %>
    
<%# link_to "Ajouter une recette", public_editor_url(my_recipes_path), class: "btn btn-outline-primary" %>
<% content_for :import_js do %>
  <%= js_import_tag "paginator" %>
<% end %>
