<div>
  <%= image_tag medium_image_path(image), width: 452, height: 304, class: "recipe-show-image", style: "display: block;" %>
  <% if image.author %>
    <div style="text-align: center;"><i>Crédit: <%= image.author %></i></div>
  <% end %>
</div>
