Style: <%= style %>
<div>
  <div style="display: inline-block; <%= style %>">
    <%= image_tag image.original, style: "width: 100%;" %>
    <% if image.author %>
      <div style="text-align: center;"><i>Crédit: <%= image.author %></i></div>
    <% end %>
  </div>
</div>
