<div style="display: flex; padding: 3px; border-bottom: 1px solid black; width: 300px;">
  <%= image_tag @image.thumb_variant, style: "margin-right: 20px;" %>
  <div>
    <div class="recipe-search-title" style="display: flex; align-items: center; height: 100%;">Nom de la recette</div>
  </div>
</div>
