<div class="d-flex align-items-center">
  <%= link_to app_path do %>
    <%= image_tag icon_path("arrow-up-square.svg"), width: "28", style: "padding-left: 0.5em;" %>
  <% end %>
  <div class="flex-grow-1"></div>
  <h1 style="margin-bottom: 0">Qu'est-ce qu'on mange?</h1>
  <div class="flex-grow-1"></div>
</div>
<hr style="color: #aaa; margin-top: 0;"/>
